<div th:fragment="edit" class="container-fluid">
    <div class="card mb-4">
        <div class="card-body">
            <form class="forms-sample">
                <div class="col-lg-12 col-md-6">
                    <div class="form-group row">
                        <input type="hidden" class="form-control" disabled id="id" th:value="${post.id}">
                        <div class="col-lg-6 col-md-6">
                            <label for="title">Tiêu đề</label>
                            <input type="text" class="form-control" id="title" th:value="${post.title}">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label for="slug">Đường dẫn bài viết</label>
                            <input type="text" class="form-control" id="slug" th:value="${post.slug}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6 col-md-6">
                            <label for="slug">Từ khóa (SEO)</label>
                            <input type="text" class="form-control" id="keywords" th:value="${post.keywords}">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label for="tags">Tags</label>
                            <input type="text" class="form-control" id="tags" th:value="${post.tags}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6 col-md-6">
                            <label for="slug">Mô tả</label>
                            <input type="text" class="form-control" id="description" th:value="${post.description}">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label for="slug">Ảnh bài viết</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="featuredImage" th:value="${post.featuredImage}" aria-describedby="button-addon2" disabled>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btnSelectImage" type="button" id="button-addon2">
                                        Chọn
                                    </button>
                                    <div th:replace="admin/modalMedia :: modalMedia">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script th:src="@{/js/sprite.svg.js}"></script>
                <div class="editor-full" style="margin-bottom: 25px;">
                    <p>Nội dung</p>
                    <div id="document-full" class="ql-scroll-y" style="height: 300px;" th:utext="${post.content}">

                    </div>
                </div>
            </form>
            <button id="btnSavePost" type="button" class=" btn btn-primary ">Lưu lại</button>
            <button class="btn btn-light">Bỏ qua</button>
            <div id="updateStatus" class="hidden"  style="color: green;">

            </div>
        </div>
    </div>
</div>
