<div th:fragment="createProduct" class="container-fluid">
    <div class="card mb-4">
        <div class="card-body">
            <form class="forms-sample">
                <div class="col-lg-12 col-md-6">
                    <div class="form-group row hidden">
                        <label for="id">Mã sản phẩm</label>
                        <input type="text" class="form-control hidden" id="id">
                    </div>
                    <div class="form-group row">
                        <label for="name">Tên sản phẩm</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group row">
                        <label for="slug">Url sản phẩm (slug)</label>
                        <input type="text" class="form-control" id="slug">
                    </div>
                    <div class="form-group row">
                        <label for="slug">Màu săc</label>
                        <input type="text" class="form-control" id="color">
                    </div>
                    <div class="form-group row">
                        <label for="size">Kích thước</label>
                        <input type="text" class="form-control" id="size">
                    </div>
                    <div class="form-group row">
                        <label for="price">Giá</label>
                        <input type="number" class="form-control" id="price">
                    </div>
                    <div class="form-group row">
                        <label for="quantity">Số lượng</label>
                        <input type="number" class="form-control" id="quantity">
                    </div>
                    <div class="form-group row">
                        <label for="category">Danh mục</label>
                        <select class="form-control" id="category">
                            <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                        </select>
                    </div>
                </div>

                <script th:src="@{/js/sprite.svg.js}"></script>
                <div class="editor-full" style="margin-bottom: 25px;">
                    <p>Mô tả sản phẩm</p>
                    <div id="document-full" class="ql-scroll-y" style="height: 300px;">

                    </div>
                </div>
            </form>
            <button id="btnSaveProduct" type="submit" class="btn-success mr-2">Lưu lại</button>
            <button class="btn btn-light">Bỏ qua</button>
            <div id="updateStatus" style="color: green;">

            </div>
        </div>
    </div>
</div>
