<div class="blogmain" th:fragment="blogbody">
    <div class="container">
        <div class="wrap_background_aside">
            <div class="row">
                <div class="wrap_blog">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                        <div class="list_blog">
                            <div class="row">


                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 blog_part">
                                    <div class="item_blog">
                                        <div class="thumb">
                                            <a href="/nhung-loi-ich-tuyet-voi-cua-dau-tay-ma-khong-phai-ai-cung-biet">

                                                <picture>
                                                    <source media="(max-width: 480px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817">
                                                    <source media="(min-width: 481px) and (max-width: 767px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817">
                                                    <source media="(min-width: 768px) and (max-width: 1023px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817">
                                                    <source media="(min-width: 1024px) and (max-width: 1199px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817">
                                                    <source media="(min-width: 1200px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817">
                                                    <img src="//bizweb.dktcdn.net/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817"
                                                         data-lazyload="//bizweb.dktcdn.net/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817"
                                                         style="max-width:100%;" class="img-responsive"
                                                         alt="Những lợi ích tuyệt vời của dâu tây mà không phải ai cũng biết">
                                                </picture>

                                            </a>
                                        </div>


                                        <div class="tags_chain">
                                            <span>lợi ích</span>
                                        </div>


                                        <div class="article-title">
                                            <h3>
                                                <a href="/nhung-loi-ich-tuyet-voi-cua-dau-tay-ma-khong-phai-ai-cung-biet"
                                                   title="Những lợi ích tuyệt vời của dâu tây mà không phải ai cũng biết">Những
                                                    lợi ích tuyệt vời của dâu tây mà không phải ai cũng biết</a></h3>
                                            <a href="/nhung-loi-ich-tuyet-voi-cua-dau-tay-ma-khong-phai-ai-cung-biet"
                                               class="blog-detail">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 blog_part">
                                    <div class="item_blog">
                                        <div class="thumb">
                                            <a href="/tra-hoa-cuc-chuan-vi-thuong-thuc-vao-moi-sang-mai">

                                                <picture>
                                                    <source media="(max-width: 480px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/tra.jpg?v=1540458855837">
                                                    <source media="(min-width: 481px) and (max-width: 767px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/tra.jpg?v=1540458855837">
                                                    <source media="(min-width: 768px) and (max-width: 1023px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/tra.jpg?v=1540458855837">
                                                    <source media="(min-width: 1024px) and (max-width: 1199px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/tra.jpg?v=1540458855837">
                                                    <source media="(min-width: 1200px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/tra.jpg?v=1540458855837">
                                                    <img src="//bizweb.dktcdn.net/100/332/765/articles/tra.jpg?v=1540458855837"
                                                         data-lazyload="//bizweb.dktcdn.net/100/332/765/articles/tra.jpg?v=1540458855837"
                                                         style="max-width:100%;" class="img-responsive"
                                                         alt="Trà hoa cúc chuẩn vị thưởng thức vào mỗi sáng mai">
                                                </picture>

                                            </a>
                                        </div>


                                        <div class="tags_chain">
                                            <span>đồ uống</span>
                                        </div>


                                        <div class="article-title">
                                            <h3><a href="/tra-hoa-cuc-chuan-vi-thuong-thuc-vao-moi-sang-mai"
                                                   title="Trà hoa cúc chuẩn vị thưởng thức vào mỗi sáng mai">Trà hoa cúc
                                                chuẩn vị thưởng thức vào mỗi sáng mai</a></h3>
                                            <a href="/tra-hoa-cuc-chuan-vi-thuong-thuc-vao-moi-sang-mai"
                                               class="blog-detail">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 blog_part">
                                    <div class="item_blog">
                                        <div class="thumb">
                                            <a href="/khong-can-lo-nuong-van-lam-duoc-banh-nep-cam-xop-mem-thom">

                                                <picture>
                                                    <source media="(max-width: 480px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150">
                                                    <source media="(min-width: 481px) and (max-width: 767px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150">
                                                    <source media="(min-width: 768px) and (max-width: 1023px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150">
                                                    <source media="(min-width: 1024px) and (max-width: 1199px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150">
                                                    <source media="(min-width: 1200px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150">
                                                    <img src="//bizweb.dktcdn.net/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150"
                                                         data-lazyload="//bizweb.dktcdn.net/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150"
                                                         style="max-width:100%;" class="img-responsive"
                                                         alt="Không cần lò nướng vẫn làm được bánh nếp cẩm xốp mềm thơm">
                                                </picture>

                                            </a>
                                        </div>


                                        <div class="tags_chain">
                                            <span>công thức làm bánh</span>
                                        </div>


                                        <div class="article-title">
                                            <h3><a href="/khong-can-lo-nuong-van-lam-duoc-banh-nep-cam-xop-mem-thom"
                                                   title="Không cần lò nướng vẫn làm được bánh nếp cẩm xốp mềm thơm">Không
                                                cần lò nướng vẫn làm được bánh nếp cẩm xốp mềm thơm</a></h3>
                                            <a href="/khong-can-lo-nuong-van-lam-duoc-banh-nep-cam-xop-mem-thom"
                                               class="blog-detail">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 blog_part">
                                    <div class="item_blog">
                                        <div class="thumb">
                                            <a href="/sua-tu-hat-thuc-uong-khac-phuc-moi-nhuoc-diem-cua-sua">

                                                <picture>
                                                    <source media="(max-width: 480px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/dau.jpg?v=1540457824720">
                                                    <source media="(min-width: 481px) and (max-width: 767px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/dau.jpg?v=1540457824720">
                                                    <source media="(min-width: 768px) and (max-width: 1023px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/dau.jpg?v=1540457824720">
                                                    <source media="(min-width: 1024px) and (max-width: 1199px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/dau.jpg?v=1540457824720">
                                                    <source media="(min-width: 1200px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/dau.jpg?v=1540457824720">
                                                    <img src="//bizweb.dktcdn.net/100/332/765/articles/dau.jpg?v=1540457824720"
                                                         data-lazyload="//bizweb.dktcdn.net/100/332/765/articles/dau.jpg?v=1540457824720"
                                                         style="max-width:100%;" class="img-responsive"
                                                         alt="Sữa từ hạt: Thức uống khắc phục mọi nhược điểm của sữa">
                                                </picture>

                                            </a>
                                        </div>


                                        <div class="tags_chain">
                                            <span>chia sẻ</span>
                                        </div>


                                        <div class="article-title">
                                            <h3><a href="/sua-tu-hat-thuc-uong-khac-phuc-moi-nhuoc-diem-cua-sua"
                                                   title="Sữa từ hạt: Thức uống khắc phục mọi nhược điểm của sữa">Sữa từ
                                                hạt: Thức uống khắc phục mọi nhược điểm của sữa</a></h3>
                                            <a href="/sua-tu-hat-thuc-uong-khac-phuc-moi-nhuoc-diem-cua-sua"
                                               class="blog-detail">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 blog_part">
                                    <div class="item_blog">
                                        <div class="thumb">
                                            <a href="/mach-ban-cach-pha-cafe-sua-da-ngon-dung-dieu">

                                                <picture>
                                                    <source media="(max-width: 480px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607">
                                                    <source media="(min-width: 481px) and (max-width: 767px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607">
                                                    <source media="(min-width: 768px) and (max-width: 1023px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607">
                                                    <source media="(min-width: 1024px) and (max-width: 1199px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607">
                                                    <source media="(min-width: 1200px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607">
                                                    <img src="//bizweb.dktcdn.net/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607"
                                                         data-lazyload="//bizweb.dktcdn.net/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607"
                                                         style="max-width:100%;" class="img-responsive"
                                                         alt="Mách bạn cách pha cafe sữa đá ngon đúng điệu">
                                                </picture>

                                            </a>
                                        </div>


                                        <div class="tags_chain">
                                            <span>đồ uống</span>
                                        </div>


                                        <div class="article-title">
                                            <h3><a href="/mach-ban-cach-pha-cafe-sua-da-ngon-dung-dieu"
                                                   title="Mách bạn cách pha cafe sữa đá ngon đúng điệu">Mách bạn cách
                                                pha cafe sữa đá ngon đúng điệu</a></h3>
                                            <a href="/mach-ban-cach-pha-cafe-sua-da-ngon-dung-dieu" class="blog-detail">Xem
                                                chi tiết</a>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 blog_part">
                                    <div class="item_blog">
                                        <div class="thumb">
                                            <a href="/banh-quy-pho-mai-thom-ngon-gion-rum-cuc-thom-ngon">

                                                <picture>
                                                    <source media="(max-width: 480px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/book-alphabets-study-learning-159771.jpeg?v=1542259581120">
                                                    <source media="(min-width: 481px) and (max-width: 767px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/book-alphabets-study-learning-159771.jpeg?v=1542259581120">
                                                    <source media="(min-width: 768px) and (max-width: 1023px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/book-alphabets-study-learning-159771.jpeg?v=1542259581120">
                                                    <source media="(min-width: 1024px) and (max-width: 1199px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/book-alphabets-study-learning-159771.jpeg?v=1542259581120">
                                                    <source media="(min-width: 1200px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/book-alphabets-study-learning-159771.jpeg?v=1542259581120">
                                                    <img src="//bizweb.dktcdn.net/100/332/765/articles/book-alphabets-study-learning-159771.jpeg?v=1542259581120"
                                                         data-lazyload="//bizweb.dktcdn.net/100/332/765/articles/book-alphabets-study-learning-159771.jpeg?v=1542259581120"
                                                         style="max-width:100%;" class="img-responsive"
                                                         alt="Bánh quy phô mai thơm ngon giòn rụm cực thơm ngon">
                                                </picture>

                                            </a>
                                        </div>


                                        <div class="tags_chain">
                                            <span>thơm ngon</span>
                                        </div>


                                        <div class="article-title">
                                            <h3><a href="/banh-quy-pho-mai-thom-ngon-gion-rum-cuc-thom-ngon"
                                                   title="Bánh quy phô mai thơm ngon giòn rụm cực thơm ngon">Bánh quy
                                                phô mai thơm ngon giòn rụm cực thơm ngon</a></h3>
                                            <a href="/banh-quy-pho-mai-thom-ngon-gion-rum-cuc-thom-ngon"
                                               class="blog-detail">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-xs-left f-right col-lg-12 col-sm-12 col-xs-12 col-md-12">

                                    <nav>
                                        <ul class="pagination clearfix">

                                            <li class="page-item disabled"><a class="page-link hidden-xs" href="#"><i
                                                    class="fa fa-angle-left" aria-hidden="true"></i> Trang đầu</a></li>


                                            <li class="active page-item disabled"><a class="page-link" href="#">1</a>
                                            </li>


                                            <li class="page-item"><a class="page-link" href="/tin-tuc?page=2">2</a></li>


                                            <li class="page-item"><a class="page-link hidden-xs" href="/tin-tuc?page=2"
                                                                     title="2">Trang cuối <i class="fa fa-angle-right"
                                                                                             aria-hidden="true"></i></a>
                                            </li>

                                        </ul>
                                    </nav>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 part_right">
                        <div>
                            <h2><a href="tin-tuc" title="Bài viết xem nhiều">Bài viết xem nhiều</a></h2>
                        </div>


                        <div class="item_blog_dif">
                            <div class="thumb">
                                <a href="/nhung-loi-ich-tuyet-voi-cua-dau-tay-ma-khong-phai-ai-cung-biet">

                                    <picture>
                                        <source media="(max-width: 480px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817">
                                        <source media="(min-width: 481px) and (max-width: 767px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817">
                                        <source media="(min-width: 768px) and (max-width: 1023px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817">
                                        <source media="(min-width: 1024px) and (max-width: 1199px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817">
                                        <source media="(min-width: 1200px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817">
                                        <img src="//bizweb.dktcdn.net/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817"
                                             data-lazyload="//bizweb.dktcdn.net/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817"
                                             style="max-width:100%;" class="img-responsive"
                                             alt="Những lợi ích tuyệt vời của dâu tây mà không phải ai cũng biết">
                                    </picture>


                                </a>
                            </div>

                            <div class="content">
                                <h3><a href="/nhung-loi-ich-tuyet-voi-cua-dau-tay-ma-khong-phai-ai-cung-biet"
                                       title="Những lợi ích tuyệt vời của dâu tây mà không phải ai cũng biết">Những lợi
                                    ích tuyệt vời của dâu tây mà không phải ai cũng biết</a></h3>
                                <p>15/11/2018</p>
                            </div>
                        </div>


                        <div class="item_blog_dif">
                            <div class="thumb">
                                <a href="/tra-hoa-cuc-chuan-vi-thuong-thuc-vao-moi-sang-mai">

                                    <picture>
                                        <source media="(max-width: 480px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/tra.jpg?v=1540458855837">
                                        <source media="(min-width: 481px) and (max-width: 767px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/tra.jpg?v=1540458855837">
                                        <source media="(min-width: 768px) and (max-width: 1023px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/tra.jpg?v=1540458855837">
                                        <source media="(min-width: 1024px) and (max-width: 1199px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/tra.jpg?v=1540458855837">
                                        <source media="(min-width: 1200px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/tra.jpg?v=1540458855837">
                                        <img src="//bizweb.dktcdn.net/100/332/765/articles/tra.jpg?v=1540458855837"
                                             data-lazyload="//bizweb.dktcdn.net/100/332/765/articles/tra.jpg?v=1540458855837"
                                             style="max-width:100%;" class="img-responsive"
                                             alt="Trà hoa cúc chuẩn vị thưởng thức vào mỗi sáng mai">
                                    </picture>


                                </a>
                            </div>

                            <div class="content">
                                <h3><a href="/tra-hoa-cuc-chuan-vi-thuong-thuc-vao-moi-sang-mai"
                                       title="Trà hoa cúc chuẩn vị thưởng thức vào mỗi sáng mai">Trà hoa cúc chuẩn vị
                                    thưởng thức vào mỗi sáng mai</a></h3>
                                <p>25/10/2018</p>
                            </div>
                        </div>


                        <div class="item_blog_dif">
                            <div class="thumb">
                                <a href="/khong-can-lo-nuong-van-lam-duoc-banh-nep-cam-xop-mem-thom">

                                    <picture>
                                        <source media="(max-width: 480px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150">
                                        <source media="(min-width: 481px) and (max-width: 767px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150">
                                        <source media="(min-width: 768px) and (max-width: 1023px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150">
                                        <source media="(min-width: 1024px) and (max-width: 1199px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150">
                                        <source media="(min-width: 1200px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150">
                                        <img src="//bizweb.dktcdn.net/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150"
                                             data-lazyload="//bizweb.dktcdn.net/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150"
                                             style="max-width:100%;" class="img-responsive"
                                             alt="Không cần lò nướng vẫn làm được bánh nếp cẩm xốp mềm thơm">
                                    </picture>


                                </a>
                            </div>

                            <div class="content">
                                <h3><a href="/khong-can-lo-nuong-van-lam-duoc-banh-nep-cam-xop-mem-thom"
                                       title="Không cần lò nướng vẫn làm được bánh nếp cẩm xốp mềm thơm">Không cần lò
                                    nướng vẫn làm được bánh nếp cẩm xốp mềm thơm</a></h3>
                                <p>25/10/2018</p>
                            </div>
                        </div>


                        <div class="item_blog_dif">
                            <div class="thumb">
                                <a href="/sua-tu-hat-thuc-uong-khac-phuc-moi-nhuoc-diem-cua-sua">

                                    <picture>
                                        <source media="(max-width: 480px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/dau.jpg?v=1540457824720">
                                        <source media="(min-width: 481px) and (max-width: 767px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/dau.jpg?v=1540457824720">
                                        <source media="(min-width: 768px) and (max-width: 1023px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/dau.jpg?v=1540457824720">
                                        <source media="(min-width: 1024px) and (max-width: 1199px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/dau.jpg?v=1540457824720">
                                        <source media="(min-width: 1200px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/dau.jpg?v=1540457824720">
                                        <img src="//bizweb.dktcdn.net/100/332/765/articles/dau.jpg?v=1540457824720"
                                             data-lazyload="//bizweb.dktcdn.net/100/332/765/articles/dau.jpg?v=1540457824720"
                                             style="max-width:100%;" class="img-responsive"
                                             alt="Sữa từ hạt: Thức uống khắc phục mọi nhược điểm của sữa">
                                    </picture>


                                </a>
                            </div>

                            <div class="content">
                                <h3><a href="/sua-tu-hat-thuc-uong-khac-phuc-moi-nhuoc-diem-cua-sua"
                                       title="Sữa từ hạt: Thức uống khắc phục mọi nhược điểm của sữa">Sữa từ hạt: Thức
                                    uống khắc phục mọi nhược điểm của sữa</a></h3>
                                <p>25/10/2018</p>
                            </div>
                        </div>


                        <div class="item_blog_dif">
                            <div class="thumb">
                                <a href="/mach-ban-cach-pha-cafe-sua-da-ngon-dung-dieu">

                                    <picture>
                                        <source media="(max-width: 480px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607">
                                        <source media="(min-width: 481px) and (max-width: 767px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607">
                                        <source media="(min-width: 768px) and (max-width: 1023px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607">
                                        <source media="(min-width: 1024px) and (max-width: 1199px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607">
                                        <source media="(min-width: 1200px)"
                                                srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607">
                                        <img src="//bizweb.dktcdn.net/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607"
                                             data-lazyload="//bizweb.dktcdn.net/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607"
                                             style="max-width:100%;" class="img-responsive"
                                             alt="Mách bạn cách pha cafe sữa đá ngon đúng điệu">
                                    </picture>


                                </a>
                            </div>

                            <div class="content">
                                <h3><a href="/mach-ban-cach-pha-cafe-sua-da-ngon-dung-dieu"
                                       title="Mách bạn cách pha cafe sữa đá ngon đúng điệu">Mách bạn cách pha cafe sữa
                                    đá ngon đúng điệu</a></h3>
                                <p>25/10/2018</p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>