<section class="main-cart-page main-container col1-layout" th:fragment="cart">
    <div class="main container hidden-xs hidden-sm">

        <div class="col-main cart_desktop_page cart-page">
            <div class="cart page_cart hidden-xs">
                <form action="/cart" method="post" novalidate="" class="margin-bottom-0">
                    <div class="bg-scroll">
                        <div class="cart-thead">
                            <div style="width: 18%" class="a-center">Ảnh sản phẩm</div>
                            <div style="width: 32%" class="a-center">Tên sản phẩm</div>
                            <div style="width: 17%" class="a-center"><span class="nobr">Đơn giá</span></div>
                            <div style="width: 14%" class="a-center">Số lượng</div>
                            <div style="width: 14%" class="a-center">Thành tiền</div>
                            <div style="width: 5%" class="a-center">Xoá</div>
                        </div>
                        <div class="cart-tbody">

                        </div>
                    </div>
                </form>
                <div class="row margin-top-20  margin-bottom-40">
                    <div class="col-lg-7 col-md-7">
                        <div class="form-cart-button">
                            <div class=""><a href="/" class="form-cart-continue">Tiếp tục mua hàng</a></div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 bg_cart shopping-cart-table-total">
                        <div class="table-total">
                            <table class="table ">
                                <tbody>
                                <tr class="hidden">
                                    <td>Tiền vận chuyển</td>
                                    <td class="txt-right a-right">Tính khi thanh toán</td>
                                </tr>
                                <tr>
                                    <td class="total-text">Tổng tiền thanh toán:</td>
                                    <td class="txt-right totals_price price_end a-right"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <a onclick="window.location.href='/checkout'" class="btn-checkout-cart">Tiến hành thanh toán</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="cart-mobile hidden-md hidden-lg container">
        <form action="/cart" method="post" novalidate="" class="margin-bottom-40">
            <div class="title_cart_mobile">

            </div>

            <div class="header-cart-content" style="background:#fff;">
                <div class="cart_page_mobile content-product-list">

                </div>
                <div class="header-cart-price" style="">
                    <div class="title-cart a-center">
                        <span class="total_mobile a-center">Tổng tiền: <span class=" totals_price_mobile"></span>
                            <span>
                            </span>
                        </span>
                    </div>
                    <div class="checkout">
                        <button class="btn-proceed-checkout-mobile" title="Tiến hành thanh toán" type="button"
                                onclick="window.location.href='/checkout'"><span>Tiến hành thanh toán</span></button>
                        <button class="btn btn-white contin" title="Tiếp tục mua hàng" type="button"
                                onclick="window.location.href='/collections/all'"><span>Tiếp tục mua hàng</span>
                        </button>
                    </div>
                </div>
            </div>

        </form>

    </div>

</section>