<div class="grid_page" th:fragment="featuredproduct">
    <div class="container">
        <div class="row">
            <aside class="dqdt-sidebar sidebar left-content col-xs-12 col-lg-3 col-md-3 col-sm-12">

                <aside class="aside-item collection-category margin-bottom-30">

                    <div class="title_module_arrow">
                        <div class="title">
                            <h2 class="margin-top-0 title_sidebar">
                                <a>Danh mục</a>
                            </h2>
                        </div>
                    </div>


                    <div class="aside-content aside-cate-link-cls">
                        <nav class="cate_padding nav-category navbar-toggleable-md">

                            <ul class="nav navbar-pills">


                                <li class="nav-item lv1">
                                    <a class="nav-link" href="/">Trang chủ</a>
                                </li>
                                <li class="nav-item lv1">
                                    <a href="/collections/all" class="nav-link">Sản phẩm</a>
                                    <i class="fa fa-angle-right"></i>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item lv2">
                                            <a class="nav-link" href="/san-pham-noi-bat">Món ăn nổi bật</a>
                                        </li>
                                        <li class="dropdown-submenu nav-item lv2">
                                            <a class="nav-link" href="/mon-an-ua-chuong">Món ăn ưa chuộng</a>
                                            <i class="fa fa-angle-right"></i>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item lv3">
                                                    <a class="nav-link" href="/tra">Trà</a>
                                                </li>
                                                <li class="nav-item lv3">
                                                    <a class="nav-link" href="/banh">Bánh</a>
                                                </li>
                                                <li class="nav-item lv3">
                                                    <a class="nav-link" href="/kem-tuoi">Kem tươi</a>
                                                </li>
                                                <li class="nav-item lv3">
                                                    <a class="nav-link" href="/ca-phe">Cà phê</a>
                                                </li>
                                                <li class="nav-item lv3">
                                                    <a class="nav-link" href="/nuoc-ep">Nước ép</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item lv2">
                                            <a class="nav-link" href="/mon-an-moi">Món ăn mới</a>
                                        </li>
                                    </ul>
                                </li>


                                <li class="nav-item lv1">
                                    <a class="nav-link" href="/gioi-thieu">Giới thiệu</a>
                                </li>
                                <li class="nav-item lv1">
                                    <a class="nav-link" href="/tin-tuc">Blog</a>

                                </li>
                                <li class="nav-item lv1">
                                    <a class="nav-link" href="/lien-he">Liên hệ</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </aside>

                <div class="sidebar_extra">
                    <div class="sidebar_title">
                        <div class="title">
                            <h2 class="margin-top-0 title_sidebar">
                                <a href="san-pham-noi-bat" title="Món ăn nổi bật">Món ăn nổi bật</a>
                            </h2>
                        </div>
                    </div>

                    <div class="cover_item_sidebar">


                        <div class="item_sidebar">
                            <div class="wrap-img">
                                <a class="image_sidebar" href="/lamington" title="">
                                    <img class="img-responsive" src="images/products/try2-jpeg.jpg"
                                         data-lazyload="images/products/try2-jpeg.jpg" alt="lamington">
                                </a>
                            </div>
                            <div class="infor">
                                <h3><a href="/lamington" title="">Lamington</a></h3>
                                <div class="box-price">

					<span class="special-price">
						<span class="price product-price">300.000₫</span>
					</span>

                                </div>
                            </div>
                        </div>


                        <div class="item_sidebar">
                            <div class="wrap-img">
                                <a class="image_sidebar" href="/strawberry-cake" title="">

                                    <img class="img-responsive" src="images/products/try4-jpeg.jpg"
                                         data-lazyload="images/products/try4-jpeg.jpg" alt="strawberry-cake">
                                </a>
                            </div>
                            <div class="infor">
                                <h3><a href="/strawberry-cake" title="">Strawberry Cake</a></h3>
                                <div class="box-price">

					<span class="special-price">
						<span class="price product-price">450.000₫</span>
					</span>

                                    <span class="product-item-price-sale old-price">
						<span class="compare-price price product-price-old">469.000₫</span>
					</span>
                                </div>
                            </div>
                        </div>

                        <div class="item_sidebar">
                            <div class="wrap-img">
                                <a class="image_sidebar" href="/sweet-potato-tart" title="">

                                    <img class="img-responsive"
                                         src="//bizweb.dktcdn.net/thumb/small/100/332/765/products/try12-jpeg.jpg?v=1542253163927"
                                         data-lazyload="//bizweb.dktcdn.net/thumb/small/100/332/765/products/try12-jpeg.jpg?v=1542253163927"
                                         alt="sweet-potato-tart">

                                </a>
                            </div>
                            <div class="infor">
                                <h3><a href="/sweet-potato-tart" title="">Sweet Potato Tart</a></h3>
                                <div class="box-price">

					<span class="special-price">
						<span class="price product-price">Liên hệ</span>
					</span>

                                </div>
                            </div>
                        </div>

                        <div class="item_sidebar">
                            <div class="wrap-img">
                                <a class="image_sidebar" href="/fruit-cream-puff" title="">

                                    <img class="img-responsive"
                                         src="//bizweb.dktcdn.net/thumb/small/100/332/765/products/try13.jpg?v=1541044259573"
                                         data-lazyload="//bizweb.dktcdn.net/thumb/small/100/332/765/products/try13.jpg?v=1541044259573"
                                         alt="fruit-cream-puff">

                                </a>
                            </div>
                            <div class="infor">
                                <h3><a href="/fruit-cream-puff" title="">Fruit Cream Puff</a></h3>
                                <div class="box-price">


					<span class="special-price">
						<span class="price product-price">150.000₫</span>
					</span>


                                </div>
                            </div>
                        </div>


                        <div class="item_sidebar">
                            <div class="wrap-img">
                                <a class="image_sidebar" href="/espresso-con-panna" title="">

                                    <img class="img-responsive"
                                         src="//bizweb.dktcdn.net/thumb/small/100/332/765/products/try15-jpeg.jpg?v=1541047354220"
                                         data-lazyload="//bizweb.dktcdn.net/thumb/small/100/332/765/products/try15-jpeg.jpg?v=1541047354220"
                                         alt="espresso-con-panna">

                                </a>
                            </div>
                            <div class="infor">
                                <h3><a href="/espresso-con-panna" title="">Espresso Con Panna</a></h3>
                                <div class="box-price">


					<span class="special-price">
						<span class="price product-price">150.000₫</span>
					</span>

                                    <span class="product-item-price-sale old-price">
						<span class="compare-price price product-price-old">165.000₫</span>
					</span>


                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </aside>

            <section class="main_container collection col-lg-9 col-md-9 col-sm-12">
                <div><h1>Bánh</h1></div>
                <div class="category-products products">

                    <div class="sortPagiBar">
                        <div class="row">

                            <div class="col-xs-12 col-sm-6 text-xs-left text-sm-right">
                                <div id="sort-by" class="sortpage">
                                    <label class="left hidden-xs">Sắp xếp theo: </label>
                                    <div class="border_sort">
                                        <select name="sortBy" id="sortBy">
                                            <option value="default" selected="">Mặc định</option>
                                            <option value="alpha-asc">A → Z</option>
                                            <option value="alpha-desc">Z → A</option>
                                            <option value="price-asc">Giá tăng dần</option>
                                            <option value="price-desc">Giá giảm dần</option>
                                            <option value="created-desc">Hàng mới nhất</option>
                                            <option value="created-asc">Hàng cũ nhất</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden-xs col-sm-6 text-xs-right text-sm-left f-right">
                                <div class="view-mode">
                                    <a href="?view=grid" data-view="grid">
                                        <b class="btn button-view-mode view-mode-grid active ">
                                            <i class="fa fa-th" aria-hidden="true"></i>
                                        </b>
                                    </a>

                                    <a href="?view=list" data-view="list" onclick="switchView('list')">
                                        <b class="btn button-view-mode view-mode-list ">
                                            <i class="fa fa-th-list" aria-hidden="true"></i>
                                        </b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        function switchView(view) {
                            switch (view) {
                                case "list":
                                    selectedViewData = "data_list";
                                    break;
                                default:
                                    selectedViewData = "data";
                                    break;
                            }
                        }
                    </script>


                    <section class="products-view products-view-grid margin-bottom-50 collection_reponsive">
                        <div class="row">


                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 product-col margin-bottom-30">
                                <div class="item_product_main margin-bottom-20">


                                    <div class="sale-box">
	<span>-
17%
</span>
                                    </div>

                                    <div class="items">

                                        <div class="image">
                                            <a class="image_product" href="/chocolate-iced" title="Chocolate Iced">

                                                <img class="img-responsive"
                                                     src="//bizweb.dktcdn.net/thumb/grande/100/332/765/products/try21-jpeg.jpg?v=1541047539703"
                                                     data-lazyload="//bizweb.dktcdn.net/thumb/grande/100/332/765/products/try21-jpeg.jpg?v=1541047539703"
                                                     alt="chocolate-iced">

                                            </a>
                                            <div class="icon-action hidden-xs hidden-sm hidden-md">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid"
                                                      data-id="product-actions-13049772" enctype="multipart/form-data">
                                                    <div>

                                                        <a data-toggle="tooltip" title="Xem nhanh"
                                                           href="/chocolate-iced" data-handle="chocolate-iced"
                                                           class="button_action xem_nhanh btn-circle btn_view btn right-to quick-view">
                                                            <i class="fa fa-eye"></i>
                                                        </a>


                                                        <input class="hidden" type="hidden" name="variantId"
                                                               value="21563056">
                                                        <button class="button_action btn btn-cart btn btn-circle left-to"
                                                                title="Chọn sản phẩm" type="button"
                                                                onclick="window.location.href='/chocolate-iced'">
                                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                                        </button>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="infor">
                                            <h3 class="title"><a href="/chocolate-iced" title="Chocolate Iced">Chocolate
                                                Iced</a></h3>
                                            <div class="box-price">


			<span class="special-price">
				<span class="price product-price">100.000₫</span>
			</span>

                                                <span class="product-item-price-sale old-price">&nbsp;&nbsp;
				<span class="compare-price price product-price-old hidden-xs">120.000₫</span>
			</span>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 product-col margin-bottom-30">
                                <div class="item_product_main margin-bottom-20">


                                    <div class="items">

                                        <div class="image">
                                            <a class="image_product" href="/sample-product-5" title="Sample Product">

                                                <img class="img-responsive"
                                                     src="//bizweb.dktcdn.net/thumb/grande/100/332/765/products/try19-jpeg.jpg?v=1541047509967"
                                                     data-lazyload="//bizweb.dktcdn.net/thumb/grande/100/332/765/products/try19-jpeg.jpg?v=1541047509967"
                                                     alt="sample-product">

                                            </a>
                                            <div class="icon-action hidden-xs hidden-sm hidden-md">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid"
                                                      data-id="product-actions-13049767" enctype="multipart/form-data">
                                                    <div>

                                                        <a data-toggle="tooltip" title="Xem nhanh"
                                                           href="/sample-product-5" data-handle="sample-product-5"
                                                           class="button_action xem_nhanh btn-circle btn_view btn right-to quick-view">
                                                            <i class="fa fa-eye"></i>
                                                        </a>


                                                        <input type="hidden" name="variantId" value="21563051">
                                                        <button class="button_action btn-buy btn-cart btn btn-circle left-to add_to_cart  hidden"
                                                                title="Thêm vào giỏ hàng">
                                                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                                        </button>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="infor">
                                            <h3 class="title"><a href="/sample-product-5" title="Sample Product">Sample
                                                Product</a></h3>
                                            <div class="box-price">

			<span class="special-price">
				<span class="price product-price">Liên hệ</span>
			</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 product-col margin-bottom-30">
                                <div class="item_product_main margin-bottom-20">


                                    <div class="sale-box">
	<span>-
10%
</span>
                                    </div>

                                    <div class="items">

                                        <div class="image">
                                            <a class="image_product" href="/honey-wheat" title="Honey Wheat">

                                                <img class="img-responsive"
                                                     src="//bizweb.dktcdn.net/thumb/grande/100/332/765/products/try17-jpeg.jpg?v=1541047432060"
                                                     data-lazyload="//bizweb.dktcdn.net/thumb/grande/100/332/765/products/try17-jpeg.jpg?v=1541047432060"
                                                     alt="honey-wheat">

                                            </a>
                                            <div class="icon-action hidden-xs hidden-sm hidden-md">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid"
                                                      data-id="product-actions-13049729" enctype="multipart/form-data">
                                                    <div>

                                                        <a data-toggle="tooltip" title="Xem nhanh" href="/honey-wheat"
                                                           data-handle="honey-wheat"
                                                           class="button_action xem_nhanh btn-circle btn_view btn right-to quick-view">
                                                            <i class="fa fa-eye"></i>
                                                        </a>


                                                        <input class="hidden" type="hidden" name="variantId"
                                                               value="21562972">
                                                        <button class="button_action btn btn-cart btn btn-circle left-to"
                                                                title="Chọn sản phẩm" type="button"
                                                                onclick="window.location.href='/honey-wheat'">
                                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                                        </button>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="infor">
                                            <h3 class="title"><a href="/honey-wheat" title="Honey Wheat">Honey Wheat</a>
                                            </h3>
                                            <div class="box-price">


			<span class="special-price">
				<span class="price product-price">45.000₫</span>
			</span>

                                                <span class="product-item-price-sale old-price">&nbsp;&nbsp;
				<span class="compare-price price product-price-old hidden-xs">50.000₫</span>
			</span>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 product-col margin-bottom-30">
                                <div class="item_product_main margin-bottom-20">


                                    <div class="items">

                                        <div class="image">
                                            <a class="image_product" href="/strawberry-frappuccino"
                                               title="Strawberry Frappuccino">

                                                <img class="img-responsive"
                                                     src="//bizweb.dktcdn.net/thumb/grande/100/332/765/products/try16-jpeg.jpg?v=1541047399773"
                                                     data-lazyload="//bizweb.dktcdn.net/thumb/grande/100/332/765/products/try16-jpeg.jpg?v=1541047399773"
                                                     alt="strawberry-frappuccino">

                                            </a>
                                            <div class="icon-action hidden-xs hidden-sm hidden-md">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid"
                                                      data-id="product-actions-13049726" enctype="multipart/form-data">
                                                    <div>

                                                        <a data-toggle="tooltip" title="Xem nhanh"
                                                           href="/strawberry-frappuccino"
                                                           data-handle="strawberry-frappuccino"
                                                           class="button_action xem_nhanh btn-circle btn_view btn right-to quick-view">
                                                            <i class="fa fa-eye"></i>
                                                        </a>


                                                        <input type="hidden" name="variantId" value="21562969">
                                                        <button class="button_action btn-buy btn-cart btn btn-circle left-to add_to_cart "
                                                                title="Thêm vào giỏ hàng">
                                                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                                        </button>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="infor">
                                            <h3 class="title"><a href="/strawberry-frappuccino"
                                                                 title="Strawberry Frappuccino">Strawberry
                                                Frappuccino</a></h3>
                                            <div class="box-price">


			<span class="special-price">
				<span class="price product-price">150.000₫</span>
			</span>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 product-col margin-bottom-30">
                                <div class="item_product_main margin-bottom-20">


                                    <div class="sale-box">
	<span>-
9%
</span>
                                    </div>

                                    <div class="items">

                                        <div class="image">
                                            <a class="image_product" href="/espresso-con-panna"
                                               title="Espresso Con Panna">

                                                <img class="img-responsive"
                                                     src="//bizweb.dktcdn.net/thumb/grande/100/332/765/products/try15-jpeg.jpg?v=1541047354220"
                                                     data-lazyload="//bizweb.dktcdn.net/thumb/grande/100/332/765/products/try15-jpeg.jpg?v=1541047354220"
                                                     alt="espresso-con-panna">

                                            </a>
                                            <div class="icon-action hidden-xs hidden-sm hidden-md">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid"
                                                      data-id="product-actions-13049700" enctype="multipart/form-data">
                                                    <div>

                                                        <a data-toggle="tooltip" title="Xem nhanh"
                                                           href="/espresso-con-panna" data-handle="espresso-con-panna"
                                                           class="button_action xem_nhanh btn-circle btn_view btn right-to quick-view">
                                                            <i class="fa fa-eye"></i>
                                                        </a>


                                                        <input class="hidden" type="hidden" name="variantId"
                                                               value="21562938">
                                                        <button class="button_action btn btn-cart btn btn-circle left-to"
                                                                title="Chọn sản phẩm" type="button"
                                                                onclick="window.location.href='/espresso-con-panna'">
                                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                                        </button>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="infor">
                                            <h3 class="title"><a href="/espresso-con-panna" title="Espresso Con Panna">Espresso
                                                Con Panna</a></h3>
                                            <div class="box-price">


			<span class="special-price">
				<span class="price product-price">150.000₫</span>
			</span>

                                                <span class="product-item-price-sale old-price">&nbsp;&nbsp;
				<span class="compare-price price product-price-old hidden-xs">165.000₫</span>
			</span>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 product-col margin-bottom-30">
                                <div class="item_product_main margin-bottom-20">


                                    <div class="items">

                                        <div class="image">
                                            <a class="image_product" href="/fruit-cream-puff" title="Fruit Cream Puff">

                                                <img class="img-responsive"
                                                     src="//bizweb.dktcdn.net/thumb/grande/100/332/765/products/try13.jpg?v=1541044259573"
                                                     data-lazyload="//bizweb.dktcdn.net/thumb/grande/100/332/765/products/try13.jpg?v=1541044259573"
                                                     alt="fruit-cream-puff">

                                            </a>
                                            <div class="icon-action hidden-xs hidden-sm hidden-md">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid"
                                                      data-id="product-actions-13049219" enctype="multipart/form-data">
                                                    <div>

                                                        <a data-toggle="tooltip" title="Xem nhanh"
                                                           href="/fruit-cream-puff" data-handle="fruit-cream-puff"
                                                           class="button_action xem_nhanh btn-circle btn_view btn right-to quick-view">
                                                            <i class="fa fa-eye"></i>
                                                        </a>


                                                        <button class="button_action btn btn-circle btn-cart left-to "
                                                                title="Hết hàng" disabled="">
                                                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                                        </button>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="infor">
                                            <h3 class="title"><a href="/fruit-cream-puff" title="Fruit Cream Puff">Fruit
                                                Cream Puff</a></h3>
                                            <div class="box-price">


			<span class="special-price">
				<span class="price product-price">150.000₫</span>
			</span>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 product-col margin-bottom-30">
                                <div class="item_product_main margin-bottom-20">


                                    <div class="items">

                                        <div class="image">
                                            <a class="image_product" href="/sweet-potato-tart"
                                               title="Sweet Potato Tart">

                                                <img class="img-responsive"
                                                     src="//bizweb.dktcdn.net/thumb/grande/100/332/765/products/try12-jpeg.jpg?v=1542253163927"
                                                     data-lazyload="//bizweb.dktcdn.net/thumb/grande/100/332/765/products/try12-jpeg.jpg?v=1542253163927"
                                                     alt="sweet-potato-tart">

                                            </a>
                                            <div class="icon-action hidden-xs hidden-sm hidden-md">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid"
                                                      data-id="product-actions-13049215" enctype="multipart/form-data">
                                                    <div>

                                                        <a data-toggle="tooltip" title="Xem nhanh"
                                                           href="/sweet-potato-tart" data-handle="sweet-potato-tart"
                                                           class="button_action xem_nhanh btn-circle btn_view btn right-to quick-view">
                                                            <i class="fa fa-eye"></i>
                                                        </a>


                                                        <input type="hidden" name="variantId" value="21561905">
                                                        <button class="button_action btn-buy btn-cart btn btn-circle left-to add_to_cart  hidden"
                                                                title="Thêm vào giỏ hàng">
                                                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                                        </button>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="infor">
                                            <h3 class="title"><a href="/sweet-potato-tart" title="Sweet Potato Tart">Sweet
                                                Potato Tart</a></h3>
                                            <div class="box-price">

			<span class="special-price">
				<span class="price product-price">Liên hệ</span>
			</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 product-col margin-bottom-30">
                                <div class="item_product_main margin-bottom-20">


                                    <div class="sale-box">
	<span>-
4%
</span>
                                    </div>

                                    <div class="items">

                                        <div class="image">
                                            <a class="image_product" href="/strawberry-cake" title="Strawberry Cake">

                                                <img class="img-responsive"
                                                     src="//bizweb.dktcdn.net/thumb/grande/100/332/765/products/try4-jpeg.jpg?v=1541043991477"
                                                     data-lazyload="//bizweb.dktcdn.net/thumb/grande/100/332/765/products/try4-jpeg.jpg?v=1541043991477"
                                                     alt="strawberry-cake">

                                            </a>
                                            <div class="icon-action hidden-xs hidden-sm hidden-md">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid"
                                                      data-id="product-actions-13049190" enctype="multipart/form-data">
                                                    <div>

                                                        <a data-toggle="tooltip" title="Xem nhanh"
                                                           href="/strawberry-cake" data-handle="strawberry-cake"
                                                           class="button_action xem_nhanh btn-circle btn_view btn right-to quick-view">
                                                            <i class="fa fa-eye"></i>
                                                        </a>


                                                        <input class="hidden" type="hidden" name="variantId"
                                                               value="21561831">
                                                        <button class="button_action btn btn-cart btn btn-circle left-to"
                                                                title="Chọn sản phẩm" type="button"
                                                                onclick="window.location.href='/strawberry-cake'">
                                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                                        </button>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="infor">
                                            <h3 class="title"><a href="/strawberry-cake" title="Strawberry Cake">Strawberry
                                                Cake</a></h3>
                                            <div class="box-price">


			<span class="special-price">
				<span class="price product-price">450.000₫</span>
			</span>

                                                <span class="product-item-price-sale old-price">&nbsp;&nbsp;
				<span class="compare-price price product-price-old hidden-xs">469.000₫</span>
			</span>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 product-col margin-bottom-30">
                                <div class="item_product_main margin-bottom-20">


                                    <div class="items">

                                        <div class="image">
                                            <a class="image_product" href="/lamington" title="Lamington">

                                                <img class="img-responsive"
                                                     src="//bizweb.dktcdn.net/thumb/grande/100/332/765/products/try2-jpeg.jpg?v=1541043582000"
                                                     data-lazyload="//bizweb.dktcdn.net/thumb/grande/100/332/765/products/try2-jpeg.jpg?v=1541043582000"
                                                     alt="lamington">

                                            </a>
                                            <div class="icon-action hidden-xs hidden-sm hidden-md">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid"
                                                      data-id="product-actions-13049130" enctype="multipart/form-data">
                                                    <div>

                                                        <a data-toggle="tooltip" title="Xem nhanh" href="/lamington"
                                                           data-handle="lamington"
                                                           class="button_action xem_nhanh btn-circle btn_view btn right-to quick-view">
                                                            <i class="fa fa-eye"></i>
                                                        </a>


                                                        <input type="hidden" name="variantId" value="21561723">
                                                        <button class="button_action btn-buy btn-cart btn btn-circle left-to add_to_cart "
                                                                title="Thêm vào giỏ hàng">
                                                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                                        </button>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="infor">
                                            <h3 class="title"><a href="/lamington" title="Lamington">Lamington</a></h3>
                                            <div class="box-price">


			<span class="special-price">
				<span class="price product-price">300.000₫</span>
			</span>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="text-xs-right f-right xs_padding">

                        </div>

                    </section>

                    <script>

                        $('#sortBy').val('created-desc');
                        $('#sortBy').bind('change', function () {
                            var url = window.location.href;
                            url = replaceUrlParam(url, 'sortby', $(this).val());
                            window.location.href = url;
                        });
                        $('.switch-view').bind('click', function () {
                            var url = window.location.href;
                            url = replaceUrlParam(url, 'view', $(this).data('view'));
                            window.location.href = url;
                        });

                        function replaceUrlParam(url, paramName, paramValue) {
                            var pattern = new RegExp('(' + paramName + '=).*?(&|$)'),
                                newUrl = url.replace(pattern, '$1' + paramValue + '$2');
                            if (newUrl == url) {
                                newUrl = newUrl + (newUrl.indexOf('?') > 0 ? '&' : '?') + paramName + '=' + paramValue;
                            }
                            return newUrl;
                        }


                    </script>


                </div>
            </section>

            <div id="open-filters" class="open-filters hidden-lg hidden-md">
				<span class="fter">
					<i class="fa fa-filter"></i>
					<span>Lọc</span>
				</span>
            </div>
        </div>
    </div>
</div>