<div class="cart-product" th:fragment="featuredproduct">
    <main class="main-content grid__item medium-up--four-fifths" id="MainContent" role="main">
        <div class="index-sections">
            <!-- BEGIN content_for_index -->
            <div id="shopify-section-1480359052975" class="shopify-section">
                <div class="grid banner-wrapper">
                    <div class="grid__item banner slide-up-animation animated">
                        <img class="banner__image" src="images/web/banner.jpg">
                    </div>
                </div>
            </div>
            <div id="shopify-section-1480359171647" class="shopify-section">
                <!-- A single featured collection module on home page 0 -->
                <div class="featured-products">
                    <h2 class="small--text-center">Sản phẩm đặc trưng</h2>
                    <div class="grid grid--uniform" role="list">

                        <div th:each="product : ${products}" class="product grid__item medium-up--one-third small--one-half slide-up-animation animated" role="listitem">
                            <a th:href="@{/products/{id}(id=${product.id})}" class="product__image" title="Ball Handle Flat Pestle &amp; Mortar - Large">
                                <img th:src="@{/images/products/{id}(id=${product.imageUrl})}" alt="Ball Handle Flat Pestle &amp; Mortar - Large">
                            </a>
                            <div class="product__title text-center">
                                <a th:href="@{/products/{id}(id=${product.id})}" th:text="${product.name}"></a>
                            </div>
                            <div class="product__prices text-center">
                                 <span class="product__price" th:text="${product.price}">
                                 </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END content_for_index -->
        </div>
    </main>
</div>