<div th:fragment="footer" class="footer">
    <div id="shopify-section-footer" class="shopify-section">
        <footer class="site-footer" role="contentinfo">
            <div class="grid medium-up--grid--table sub-footer small--text-center">
                <div class="grid__item medium-up--one-half">
                    <small>Copyright &copy 2017, <a href="/" title="">LiteShop</a>. <a target="_blank" rel="nofollow" href="https://www.LiteShop.com">Shopping Cart by LiteShop</a></small>
                </div>
            </div>
        </footer>
    </div>
</div>