<head th:fragment="head">
    <meta http-equiv="content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title th:text="${mapConfig.title}"></title>

    <!-- ================= Page description ================== -->
    <meta name="description" th:content="${mapConfig.description}">

    <!-- ================= Meta ================== -->
    <meta name="keywords" th:content="${mapConfig.keywords}"/>

    <link rel="canonical" th:href="${mapConfig.domain}"/>
    <meta name='revisit-after' content='1 days'/>

    <!-- ================= Favicon ================== -->
    <link rel="icon" th:href="@{/assets/favicon.png}" type="image/x-icon"/>

    <!-- ================= Google Fonts ================== -->
    <!-- Facebook Open Graph meta tags -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Thực phẩm Hoàng Anh">
    <meta property="og:image"
          content="assets/logo.png">
    <meta property="og:image:secure_url" content="assets/logo.png">

    <meta property="og:description" th:content="${mapConfig.description}">
    <meta property="og:url" th:href="${mapConfig.domain}">
    <meta property="og:site_name" content="Delicious">

    <!-- Plugin CSS -->
    <script>
        var template = 'index';
    </script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Plugin CSS -->
    <link th:href="@{/css/plugin.scss.css}" rel="stylesheet" type="text/css"/>

    <!-- Build Main CSS -->
    <link th:href="@{/css/base.scss.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/style.scss.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/module.scss.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/responsive.scss.css}" rel="stylesheet" type="text/css"/>
    <script>
        var template = 'index';
    </script>
    <!-- Bizweb conter for header -->
    <script>
        var Bizweb = Bizweb || {};
        Bizweb.store = 'hoanganhfood.com';
        Bizweb.id = '332765';
        Bizweb.theme = {"id": 713219, "role": "main", "name": "Delicious 25-03-2019"};
        Bizweb.template = 'index';
    </script>
    <script th:if="${ token!= null }">
        var token = "[[${token}]]";
        document.cookie = "token=" + token + ";";
    </script>
    <meta name="token" id="token" th:content="${token}"/>
</head>

