<header class="header" th:fragment="header">
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 a-left">
                    <div class="top_left">
                        <span>Hotline: <a th:href="@{'tel:' + ${mapConfig.phone}}" th:text="${mapConfig.phone}"></a></span>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
                    <div class="header-search">
                        <form class="search_form" action="/search" method="get" role="search">
                            <input type="text" class="form-control" name="query" value="" autocomplete="off"
                                   placeholder="Tìm sản phẩm">
                            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="hidden-xs col-sm-6 col-md-2 col-lg-2 f-right">
                    <ul class="list-unstyled top_right">
                        <li><a href="/login">Đăng nhập</a></li>
                        <li><a>&</a></li>
                        <li><a href="/register">Đăng ký</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="menu-bar button-menu hidden-md hidden-lg col-xs-1 col-sm-1">
                    <a href="javascript:;">
                        <i class="fa fa-align-justify"></i>
                    </a>
                </div>
                <div class="menu">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 logos">
                        <div class="logo_image">

                            <a href="/" class="logo-wrapper ">
                                <img th:src="@{/assets/logo.jpg}" alt="logo Delicious" th:title="${mapConfig.title}">
                            </a>

                        </div>
                    </div>
                    <div class="hidden-xs hidden-sm colmenu">
                        <div class="main-menu">
                            <ul class="list-unstyled main_menu">
                                <li class=" nav-item nav-items active ">
                                    <a class="nav-link" href="/"><i class="fa fa-home"></i>Trang chủ</a>
                                </li>
                                <li class="menu_hover nav-item nav-items ">
                                    <a href="/san-pham" class="nav-link"><i class="fa fa-birthday-cake"></i>Sản phẩm</a>
                                    <ul class="list-unstyled menu_child_1">
                                        <li>
                                            <a th:href="${mapConfig.featured_product_url}" th:text="${mapConfig.featured_product}"></a>
                                        </li>

                                        <li>
                                            <a th:href="${mapConfig.popular_product_url}" th:text="${mapConfig.popular_product}">
                                            </a>
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>

                                            <ul class="list-unstyled menu_child_2">
                                                <li>
                                                    <a href="/tra">Trà</a>
                                                </li>

                                                <li>
                                                    <a href="/banh">Bánh</a>
                                                </li>

                                                <li>
                                                    <a href="/kem-tuoi">Kem tươi</a>
                                                </li>

                                                <li>
                                                    <a href="/ca-phe">Cà phê</a>
                                                </li>

                                                <li>
                                                    <a href="/nuoc-ep">Nước ép</a>
                                                </li>

                                            </ul>
                                        </li>
                                        <li><a th:href="${mapConfig.new_product_url}" th:text="${mapConfig.new_product}"></a></li>
                                    </ul>
                                </li>

                                <li class=" nav-item nav-items ">
                                    <a class="nav-link" href="/gioi-thieu">
                                        <i class="fa fa-info-circle"></i>Giới thiệu
                                    </a>
                                </li>
                                <li class=" nav-item nav-items ">
                                    <a class="nav-link" href="/tin-tuc"><i class="fa fa-pencil-square-o"></i>Blog</a>
                                </li>
                                <li class=" nav-item nav-items ">
                                    <a class="nav-link" href="/lien-he"><i class="fa fa-phone"></i>Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2 f-right">
                        <div class="top-cart-contain-update">
                            <div class="mini-cart text-xs-center">
                                <div class="heading-cart">
                                    <a class="bg_cart" href="/cart" title="Giỏ hàng">
                                        <span class="absolute count_item count_item_pr" id="cart-total"></span>
                                        <i class="shopping-bag"></i>
                                        <span class="block-small-cart hidden-xs hidden-sm visible-md visible-lg">
											<span class="text-giohang hidden-xs">Giỏ hàng</span>
											<span class="block-count-pr">
												(
												<span class="count_item count_item_pr"></span>
												) sản phẩm
											</span>
										</span>
                                    </a>
                                </div>
                                <div class="top-cart-content">
                                    <ul id="cart-sidebar" class="mini-products-list count_li">
                                        <li class="list-item">
                                            <ul></ul>
                                        </li>
                                        <li class="action">
                                            <ul>
                                                <li class="li-fix-1">
                                                    <div class="top-subtotal">
                                                        Tổng tiền thanh toán:
                                                        <span class="price"></span>
                                                    </div>
                                                </li>
                                                <li class="li-fix-2" style="">
                                                    <div class="actions">
                                                        <a href="/cart" class="btn btn-primary">
                                                            <span>Giỏ hàng</span>
                                                        </a>
                                                        <a href="/checkout" class="btn btn-checkout btn-gray">
                                                            <span>Thanh toán</span>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>