<section class="awe-section-7" th:fragment="section7">
    <section class="section_dichvu">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="dichvu">
                        <div class="dichvu_image">
                            <img src="assets/load-image.gif" data-lazyload="assets/dichvu_1.png" th:alt="${mapConfig.footer1}">
                        </div>
                        <div class="dichvu_title">
                            <span th:text="${mapConfig.footer1}"></span>
                        </div>
                        <div class="dichvu_content">
                            <span th:utext="${mapConfig.footer1_content}"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="dichvu">
                        <div class="dichvu_image">
                            <img src="assets/load-image.gif"
                                 data-lazyload="assets/dichvu_2.png"
                                 alt="Làm bánh theo yêu cầu">
                        </div>
                        <div class="dichvu_title">
                            <span th:text="${mapConfig.footer2}"></span>
                        </div>
                        <div class="dichvu_content">
                            <span th:utext="${mapConfig.footer2_content}"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="dichvu">
                        <div class="dichvu_image">
                            <img src="assets/load-image.gif"
                                 data-lazyload="assets/dichvu_3.png"
                                 alt="Làm bánh theo yêu cầu">
                        </div>
                        <div class="dichvu_title">
                            <span th:text="${mapConfig.footer3}"></span>
                        </div>
                        <div class="dichvu_content">
						<span th:utext="${mapConfig.footer3_content}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>