<section class="awe-section-5" th:fragment="section5">
    <section class="section_blog margin-bottom-0">
        <div class="container">

            <div class="icon-banh">
                <a href="/" class="icon-banh-wrapper ">
                    <img th:src="@{/assets/load-image.gif}" th:data-lazyload="@{/assets/icon-banh.png}" alt="icon-banh">
                </a>
            </div>

            <div class="title_module_main a-center">
                <h2>
                    <a href="tin-tuc" title="Blog" class="title">Blog</a>
                </h2>
            </div>

            <div class="list-blogs-link">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="owl-carousel owl-blog-index"
                             data-nav="false"
                             data-dot="true"
                             data-lg-items="3"
                             data-md-items="3"
                             data-height="false"
                             data-xs-items="1"
                             data-sm-items="2"
                             data-margin="30">

                            <div th:each="post : ${posts}" class="item_wrap_blog">
                                <div class="item-blg blog-large">
                                    <div class="item_blog">
                                        <div class="thumb">
                                            <a th:href="@{'/blog/' + ${post.slug} + '/'}">
                                                <picture>
                                                    <source media="(max-width: 480px)" th:srcset="${ post.featuredImage }">
                                                    <source media="(min-width: 481px) and (max-width: 767px)"
                                                            th:srcset="${post.featuredImage}">
                                                    <source media="(min-width: 768px) and (max-width: 1023px)"
                                                            th:srcset="${post.featuredImage}">
                                                    <source media="(min-width: 1024px) and (max-width: 1199px)"
                                                            th:srcset="${post.featuredImage}">
                                                    <source media="(min-width: 1200px)" th:srcset="${post.featuredImage}">
                                                    <img th:src="${post.featuredImage}"
                                                         th:data-lazyload="${post.featuredImage}"
                                                         style="max-width:100%;" class="img-responsive"
                                                         th:alt="${post.title}">
                                                </picture>
                                            </a>
                                        </div>

                                        <div class="tags_chain">
                                            <span th:text="${post.tags}"></span>
                                        </div>


                                        <div class="content__">
                                            <h3>
                                                <a title="${post.title}"
                                                   th:href="@{'/blog/' + ${post.slug} + '/'}" th:text="${post.title}">
                                                </a>
                                            </h3>
                                        </div>

                                    </div>
                                </div>
                                <a class="detail"
                                   th:href="@{'/blog/' + ${post.slug} + '/'}" title="Xem chi tiết">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>