<section class="awe-section-6"  th:fragment="section6">
    <section class="section_introduce">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 content col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-lg-push-5 col-md-push-5 col-sm-push-6">
                    <div class="logo_image">

                        <a href="/" class="logo-wrapper">
                            <img src="//bizweb.dktcdn.net/100/332/765/themes/713219/assets/logo.jpg?1553482554643"
                                 alt="logo Delicious" title="logo Delicious">
                        </a>

                    </div>
                    <div class="content_shop_introduce">
                        <p>Được khởi xướng và vận hành bởi một nhóm người trẻ năng động, cửa hàng bánh ngọt và đồ
                            uống DELICIOUS đang dần khẳng định chỗ đứng trong thị trường đồ ăn giải khát phong phú
                            và đa dạng ở Hà Nội. Hướng tới đối tượng khách hàng là các bạn trẻ năng động, chúng tôi
                            quan tâm tới chất lượng và hình ảnh của sản phẩm.</p>
                        <a class="detail-introduce" href="/gioi-thieu" title="Đọc thêm">Đọc thêm</a>
                    </div>

                    <div class="social">
                        <p>Kết nối với chúng tôi:</p>

                        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>


                        <a href="https://www.google.com/" class="fa fa-google-plus"></a>


                        <a href="https://www.youtube.com/" class="fa fa-youtube"></a>

                    </div>

                </div>

                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 image col-lg-pull-5 col-md-pull-5 col-sm-pull-6">
                    <div class="image_introduce_avatar">
                        <a href="/" class="avatar">
                            <img src="//bizweb.dktcdn.net/thumb/large/100/332/765/themes/713219/assets/load-image.gif?1553482554643"
                                 data-lazyload="//bizweb.dktcdn.net/100/332/765/themes/713219/assets/section_introduce_avatar.png?1553482554643"
                                 alt="alt" title="Ảnh giới thiệu của cửa hàng">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>