<section class="awe-section-6"  th:fragment="section6">
    <section class="section_introduce">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 content col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-lg-push-5 col-md-push-5 col-sm-push-6">
                    <div class="logo_image">
                        <a href="/" class="logo-wrapper">
                            <img th:src="@{/assets/logo.jpg}" alt="logo Delicious" title="logo Delicious">
                        </a>
                    </div>
                    <div class="content_shop_introduce">
                        <p th:text="${mapConfig.home_introduction}"></p>
                        <a class="detail-introduce" href="/gioi-thieu" title="Đọc thêm">Đọc thêm</a>
                    </div>
                    <div class="social">
                        <p>Kết nối với chúng tôi:</p>
                        <a th:href="${mapConfig.facebook}" class="fa fa-facebook"></a>
                        <a th:href="${mapConfig.youtube}" class="fa fa-youtube"></a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 image col-lg-pull-5 col-md-pull-5 col-sm-pull-6">
                    <div class="image_introduce_avatar">
                        <a href="/" class="avatar">
                            <img th:src="@{assets/load-image.gif}" data-lazyload="assets/section_introduce_avatar.png"
                                 alt="alt" title="Ảnh giới thiệu của cửa hàng">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>