<section class="awe-section-5" th:fragment="section5">
    <section class="section_blog margin-bottom-0">
        <div class="container">

            <div class="icon-banh">
                <a href="/" class="icon-banh-wrapper ">
                    <img src="//bizweb.dktcdn.net/thumb/thumb/100/332/765/themes/713219/assets/load-image.gif?1553482554643"
                         data-lazyload="//bizweb.dktcdn.net/100/332/765/themes/713219/assets/icon-banh.png?1553482554643"
                         alt="icon-banh">
                </a>
            </div>

            <div class="title_module_main a-center">
                <h2>
                    <a href="tin-tuc" title="Blog" class="title">Blog</a>
                </h2>
            </div>


            <div class="list-blogs-link">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="owl-carousel owl-blog-index"
                             data-nav="false"
                             data-dot="true"
                             data-lg-items="3"
                             data-md-items="3"
                             data-height="false"
                             data-xs-items="1"
                             data-sm-items="2"
                             data-margin="30">


                            <div class="item_wrap_blog">
                                <div class="item-blg blog-large">
                                    <div class="item_blog">
                                        <div class="thumb">
                                            <a href="/nhung-loi-ich-tuyet-voi-cua-dau-tay-ma-khong-phai-ai-cung-biet">

                                                <picture>
                                                    <source media="(max-width: 480px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817">
                                                    <source media="(min-width: 481px) and (max-width: 767px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817">
                                                    <source media="(min-width: 768px) and (max-width: 1023px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817">
                                                    <source media="(min-width: 1024px) and (max-width: 1199px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817">
                                                    <source media="(min-width: 1200px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817">
                                                    <img src="//bizweb.dktcdn.net/thumb/thumb/100/332/765/themes/713219/assets/load-image.gif?1553482554643"
                                                         data-lazyload="//bizweb.dktcdn.net/100/332/765/articles/pexels-photo-904941.jpeg?v=1542260725817"
                                                         style="max-width:100%;" class="img-responsive"
                                                         alt="Những lợi ích tuyệt vời của dâu tây mà không phải ai cũng biết">
                                                </picture>

                                            </a>
                                        </div>


                                        <div class="tags_chain">
                                            <span>lợi ích</span>
                                        </div>


                                        <div class="content__">
                                            <h3>
                                                <a title="Những lợi ích tuyệt vời của dâu tây mà không phải ai cũng biết"
                                                   href="/nhung-loi-ich-tuyet-voi-cua-dau-tay-ma-khong-phai-ai-cung-biet">Những
                                                    lợi ích tuyệt vời của dâu tây mà không phải ai cũng biết</a>
                                            </h3>
                                        </div>

                                    </div>
                                </div>
                                <a class="detail"
                                   href="/nhung-loi-ich-tuyet-voi-cua-dau-tay-ma-khong-phai-ai-cung-biet"
                                   title="Xem chi tiết">Xem chi tiết</a>
                            </div>


                            <div class="item_wrap_blog">
                                <div class="item-blg blog-large">
                                    <div class="item_blog">
                                        <div class="thumb">
                                            <a href="/tra-hoa-cuc-chuan-vi-thuong-thuc-vao-moi-sang-mai">

                                                <picture>
                                                    <source media="(max-width: 480px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/tra.jpg?v=1540458855837">
                                                    <source media="(min-width: 481px) and (max-width: 767px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/tra.jpg?v=1540458855837">
                                                    <source media="(min-width: 768px) and (max-width: 1023px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/tra.jpg?v=1540458855837">
                                                    <source media="(min-width: 1024px) and (max-width: 1199px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/tra.jpg?v=1540458855837">
                                                    <source media="(min-width: 1200px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/tra.jpg?v=1540458855837">
                                                    <img src="//bizweb.dktcdn.net/thumb/thumb/100/332/765/themes/713219/assets/load-image.gif?1553482554643"
                                                         data-lazyload="//bizweb.dktcdn.net/100/332/765/articles/tra.jpg?v=1540458855837"
                                                         style="max-width:100%;" class="img-responsive"
                                                         alt="Trà hoa cúc chuẩn vị thưởng thức vào mỗi sáng mai">
                                                </picture>

                                            </a>
                                        </div>


                                        <div class="tags_chain">
                                            <span>đồ uống</span>
                                        </div>


                                        <div class="content__">
                                            <h3>
                                                <a title="Trà hoa cúc chuẩn vị thưởng thức vào mỗi sáng mai"
                                                   href="/tra-hoa-cuc-chuan-vi-thuong-thuc-vao-moi-sang-mai">Trà hoa
                                                    cúc chuẩn vị thưởng thức vào mỗi sáng mai</a>
                                            </h3>
                                        </div>

                                    </div>
                                </div>
                                <a class="detail" href="/tra-hoa-cuc-chuan-vi-thuong-thuc-vao-moi-sang-mai"
                                   title="Xem chi tiết">Xem chi tiết</a>
                            </div>


                            <div class="item_wrap_blog">
                                <div class="item-blg blog-large">
                                    <div class="item_blog">
                                        <div class="thumb">
                                            <a href="/khong-can-lo-nuong-van-lam-duoc-banh-nep-cam-xop-mem-thom">

                                                <picture>
                                                    <source media="(max-width: 480px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150">
                                                    <source media="(min-width: 481px) and (max-width: 767px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150">
                                                    <source media="(min-width: 768px) and (max-width: 1023px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150">
                                                    <source media="(min-width: 1024px) and (max-width: 1199px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150">
                                                    <source media="(min-width: 1200px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150">
                                                    <img src="//bizweb.dktcdn.net/thumb/thumb/100/332/765/themes/713219/assets/load-image.gif?1553482554643"
                                                         data-lazyload="//bizweb.dktcdn.net/100/332/765/articles/banh-nep-cam-673f2bb3-4ae1-4adb-95a5-323aaedf44cd.jpg?v=1540782740150"
                                                         style="max-width:100%;" class="img-responsive"
                                                         alt="Không cần lò nướng vẫn làm được bánh nếp cẩm xốp mềm thơm">
                                                </picture>

                                            </a>
                                        </div>


                                        <div class="tags_chain">
                                            <span>công thức làm bánh</span>
                                        </div>


                                        <div class="content__">
                                            <h3>
                                                <a title="Không cần lò nướng vẫn làm được bánh nếp cẩm xốp mềm thơm"
                                                   href="/khong-can-lo-nuong-van-lam-duoc-banh-nep-cam-xop-mem-thom">Không
                                                    cần lò nướng vẫn làm được bánh nếp cẩm xốp mềm thơm</a>
                                            </h3>
                                        </div>

                                    </div>
                                </div>
                                <a class="detail" href="/khong-can-lo-nuong-van-lam-duoc-banh-nep-cam-xop-mem-thom"
                                   title="Xem chi tiết">Xem chi tiết</a>
                            </div>


                            <div class="item_wrap_blog">
                                <div class="item-blg blog-large">
                                    <div class="item_blog">
                                        <div class="thumb">
                                            <a href="/sua-tu-hat-thuc-uong-khac-phuc-moi-nhuoc-diem-cua-sua">

                                                <picture>
                                                    <source media="(max-width: 480px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/dau.jpg?v=1540457824720">
                                                    <source media="(min-width: 481px) and (max-width: 767px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/dau.jpg?v=1540457824720">
                                                    <source media="(min-width: 768px) and (max-width: 1023px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/dau.jpg?v=1540457824720">
                                                    <source media="(min-width: 1024px) and (max-width: 1199px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/dau.jpg?v=1540457824720">
                                                    <source media="(min-width: 1200px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/dau.jpg?v=1540457824720">
                                                    <img src="//bizweb.dktcdn.net/thumb/thumb/100/332/765/themes/713219/assets/load-image.gif?1553482554643"
                                                         data-lazyload="//bizweb.dktcdn.net/100/332/765/articles/dau.jpg?v=1540457824720"
                                                         style="max-width:100%;" class="img-responsive"
                                                         alt="Sữa từ hạt: Thức uống khắc phục mọi nhược điểm của sữa">
                                                </picture>

                                            </a>
                                        </div>


                                        <div class="tags_chain">
                                            <span>chia sẻ</span>
                                        </div>


                                        <div class="content__">
                                            <h3>
                                                <a title="Sữa từ hạt: Thức uống khắc phục mọi nhược điểm của sữa"
                                                   href="/sua-tu-hat-thuc-uong-khac-phuc-moi-nhuoc-diem-cua-sua">Sữa
                                                    từ hạt: Thức uống khắc phục mọi nhược điểm của sữa</a>
                                            </h3>
                                        </div>

                                    </div>
                                </div>
                                <a class="detail" href="/sua-tu-hat-thuc-uong-khac-phuc-moi-nhuoc-diem-cua-sua"
                                   title="Xem chi tiết">Xem chi tiết</a>
                            </div>


                            <div class="item_wrap_blog">
                                <div class="item-blg blog-large">
                                    <div class="item_blog">
                                        <div class="thumb">
                                            <a href="/mach-ban-cach-pha-cafe-sua-da-ngon-dung-dieu">

                                                <picture>
                                                    <source media="(max-width: 480px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607">
                                                    <source media="(min-width: 481px) and (max-width: 767px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607">
                                                    <source media="(min-width: 768px) and (max-width: 1023px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607">
                                                    <source media="(min-width: 1024px) and (max-width: 1199px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607">
                                                    <source media="(min-width: 1200px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607">
                                                    <img src="//bizweb.dktcdn.net/thumb/thumb/100/332/765/themes/713219/assets/load-image.gif?1553482554643"
                                                         data-lazyload="//bizweb.dktcdn.net/100/332/765/articles/pexels-photo-317377-1.jpeg?v=1542260216607"
                                                         style="max-width:100%;" class="img-responsive"
                                                         alt="Mách bạn cách pha cafe sữa đá ngon đúng điệu">
                                                </picture>

                                            </a>
                                        </div>


                                        <div class="tags_chain">
                                            <span>đồ uống</span>
                                        </div>


                                        <div class="content__">
                                            <h3>
                                                <a title="Mách bạn cách pha cafe sữa đá ngon đúng điệu"
                                                   href="/mach-ban-cach-pha-cafe-sua-da-ngon-dung-dieu">Mách bạn
                                                    cách pha cafe sữa đá ngon đúng điệu</a>
                                            </h3>
                                        </div>

                                    </div>
                                </div>
                                <a class="detail" href="/mach-ban-cach-pha-cafe-sua-da-ngon-dung-dieu"
                                   title="Xem chi tiết">Xem chi tiết</a>
                            </div>


                            <div class="item_wrap_blog">
                                <div class="item-blg blog-large">
                                    <div class="item_blog">
                                        <div class="thumb">
                                            <a href="/banh-quy-pho-mai-thom-ngon-gion-rum-cuc-thom-ngon">

                                                <picture>
                                                    <source media="(max-width: 480px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/book-alphabets-study-learning-159771.jpeg?v=1542259581120">
                                                    <source media="(min-width: 481px) and (max-width: 767px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/book-alphabets-study-learning-159771.jpeg?v=1542259581120">
                                                    <source media="(min-width: 768px) and (max-width: 1023px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/book-alphabets-study-learning-159771.jpeg?v=1542259581120">
                                                    <source media="(min-width: 1024px) and (max-width: 1199px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/book-alphabets-study-learning-159771.jpeg?v=1542259581120">
                                                    <source media="(min-width: 1200px)"
                                                            srcset="//bizweb.dktcdn.net/thumb/large/100/332/765/articles/book-alphabets-study-learning-159771.jpeg?v=1542259581120">
                                                    <img src="//bizweb.dktcdn.net/thumb/thumb/100/332/765/themes/713219/assets/load-image.gif?1553482554643"
                                                         data-lazyload="//bizweb.dktcdn.net/100/332/765/articles/book-alphabets-study-learning-159771.jpeg?v=1542259581120"
                                                         style="max-width:100%;" class="img-responsive"
                                                         alt="Bánh quy phô mai thơm ngon giòn rụm cực thơm ngon">
                                                </picture>

                                            </a>
                                        </div>


                                        <div class="tags_chain">
                                            <span>thơm ngon</span>
                                        </div>


                                        <div class="content__">
                                            <h3>
                                                <a title="Bánh quy phô mai thơm ngon giòn rụm cực thơm ngon"
                                                   href="/banh-quy-pho-mai-thom-ngon-gion-rum-cuc-thom-ngon">Bánh
                                                    quy phô mai thơm ngon giòn rụm cực thơm ngon</a>
                                            </h3>
                                        </div>

                                    </div>
                                </div>
                                <a class="detail" href="/banh-quy-pho-mai-thom-ngon-gion-rum-cuc-thom-ngon"
                                   title="Xem chi tiết">Xem chi tiết</a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>