<section class="awe-section-2" th:fragment="section2">
    <section class="section_product_standingout">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="icon-banh">
                        <a href="/" class="icon-banh-wrapper ">
                            <img src="//bizweb.dktcdn.net/thumb/thumb/100/332/765/themes/713219/assets/load-image.gif?1553482554643"
                                 data-lazyload="//bizweb.dktcdn.net/100/332/765/themes/713219/assets/icon-banh.png?1553482554643"
                                 alt="icon-banh">
                        </a>
                    </div>

                    <div class="title_module_main a-center">
                        <h2>
                            <a href="san-pham-noi-bat" title="Món ăn nổi bật" class="title">Món ăn nổi bật</a>
                        </h2>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="wrap_owl">

                        <div class="owl-carousel owl-news"
                             data-nav="true"
                             data-dot="true"
                             data-lg-items="3"
                             data-md-items="3"
                             data-height="true"
                             data-xs-items="2"
                             data-sm-items="2"
                             data-margin="30">

                            <div class="item_product_main margin-bottom-30">
                                <div class="items">
                                    <div class="image">
                                        <a class="image_product" href="/lamington" title="Lamington">
                                            <img class="img-responsive" src="images/products/no-image.jpg" data-lazyload="images/products/try2-jpeg.jpg" alt="lamington">
                                        </a>
                                        <div class="icon-action hidden-xs hidden-sm hidden-md">
                                            <form action="/cart/add" method="post" class="variants form-nut-grid"
                                                  data-id="product-actions-13049130" enctype="multipart/form-data">
                                                <div>
                                                    <a data-toggle="tooltip" title="Xem nhanh" href="/lamington"
                                                       data-handle="lamington"
                                                       class="button_action xem_nhanh btn-circle btn_view btn right-to quick-view">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                    <input type="hidden" name="variantId" value="21561723"/>
                                                    <button class="button_action btn-buy btn-cart btn btn-circle left-to add_to_cart "
                                                            title="Thêm vào giỏ hàng">
                                                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="infor">
                                        <h3 class="title"><a href="/lamington" title="Lamington">Lamington</a></h3>
                                        <div class="box-price">
			                                <span class="special-price">
				                            <span class="price product-price">300.000₫</span>
			                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item_product_main margin-bottom-30">
                                <div class="sale-box"><span>-4%</span></div>

                                <div class="items">
                                    <div class="image">
                                        <a class="image_product" href="/strawberry-cake" title="Strawberry Cake">
                                            <img class="img-responsive" src="images/products/no-image.jpg" data-lazyload="images/products/try4-jpeg.jpg" alt="strawberry-cake">
                                        </a>
                                        <div class="icon-action hidden-xs hidden-sm hidden-md">
                                            <form action="/cart/add" method="post" class="variants form-nut-grid"
                                                  data-id="product-actions-13049190" enctype="multipart/form-data">
                                                <div>
                                                    <a data-toggle="tooltip" title="Xem nhanh"
                                                       href="/strawberry-cake" data-handle="strawberry-cake"
                                                       class="button_action xem_nhanh btn-circle btn_view btn right-to quick-view">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                    <input class="hidden" type="hidden" name="variantId"
                                                           value="21561831"/>
                                                    <button class="button_action btn btn-cart btn btn-circle left-to"
                                                            title="Chọn sản phẩm" type="button"
                                                            onclick="window.location.href='/strawberry-cake'">
                                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="infor">
                                        <h3 class="title"><a href="/strawberry-cake" title="Strawberry Cake">Strawberry
                                            Cake</a></h3>
                                        <div class="box-price">
			                                    <span class="special-price">
                                                    <span class="price product-price">450.000₫</span>
			                                    </span>
                                            <span class="product-item-price-sale old-price">&nbsp;&nbsp;
				                                    <span class="compare-price price product-price-old hidden-xs">469.000₫</span>
			                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item_product_main margin-bottom-30">
                                <div class="items">
                                    <div class="image">
                                        <a class="image_product" href="/sweet-potato-tart"
                                           title="Sweet Potato Tart">
                                            <img class="img-responsive" src="images/products/no-image.jpg" data-lazyload="images/products/try12-jpeg.jpg" alt="sweet-potato-tart">
                                        </a>
                                        <div class="icon-action hidden-xs hidden-sm hidden-md">
                                            <form action="/cart/add" method="post" class="variants form-nut-grid"
                                                  data-id="product-actions-13049215" enctype="multipart/form-data">
                                                <div>
                                                    <a data-toggle="tooltip" title="Xem nhanh"
                                                       href="/sweet-potato-tart" data-handle="sweet-potato-tart"
                                                       class="button_action xem_nhanh btn-circle btn_view btn right-to quick-view">
                                                        <i class="fa fa-eye"></i>
                                                    </a>

                                                    <input type="hidden" name="variantId" value="21561905"/>
                                                    <button class="button_action btn-buy btn-cart btn btn-circle left-to add_to_cart  hidden"
                                                            title="Thêm vào giỏ hàng">
                                                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                                    </button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="infor">
                                        <h3 class="title"><a href="/sweet-potato-tart" title="Sweet Potato Tart">Sweet
                                            Potato Tart</a></h3>
                                        <div class="box-price">
			                                    <span class="special-price">
				                                    <span class="price product-price">Liên hệ</span>
			                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item_product_main margin-bottom-30">


                                <div class="items">
                                    <div class="image">
                                        <a class="image_product" href="/fruit-cream-puff" title="Fruit Cream Puff">
                                            <img class="img-responsive" src="images/products/no-image.jpg" data-lazyload="images/products/try13.jpg" alt="fruit-cream-puff">
                                        </a>
                                        <div class="icon-action hidden-xs hidden-sm hidden-md">
                                            <form action="/cart/add" method="post" class="variants form-nut-grid"
                                                  data-id="product-actions-13049219" enctype="multipart/form-data">
                                                <div>
                                                    <a data-toggle="tooltip" title="Xem nhanh"
                                                       href="/fruit-cream-puff" data-handle="fruit-cream-puff"
                                                       class="button_action xem_nhanh btn-circle btn_view btn right-to quick-view">
                                                        <i class="fa fa-eye"></i>
                                                    </a>

                                                    <button class="button_action btn btn-circle btn-cart left-to "
                                                            title="Hết hàng" disabled>
                                                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                                    </button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="infor">
                                        <h3 class="title"><a href="/fruit-cream-puff" title="Fruit Cream Puff">Fruit
                                            Cream Puff</a></h3>
                                        <div class="box-price">
			                                <span class="special-price">
				                                <span class="price product-price">150.000₫</span>
			                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item_product_main margin-bottom-30">
                                <div class="sale-box">
                                    <span>-9%</span>
                                </div>

                                <div class="items">
                                    <div class="image">
                                        <a class="image_product" href="/espresso-con-panna" title="Espresso Con Panna">
                                            <img class="img-responsive" src="images/products/no-image.jpg" data-lazyload="images/products/try15-jpeg.jpg" alt="espresso-con-panna">
                                        </a>
                                        <div class="icon-action hidden-xs hidden-sm hidden-md">
                                            <form action="/cart/add" method="post" class="variants form-nut-grid"
                                                  data-id="product-actions-13049700" enctype="multipart/form-data">
                                                <div>
                                                    <a data-toggle="tooltip" title="Xem nhanh"
                                                       href="/espresso-con-panna" data-handle="espresso-con-panna"
                                                       class="button_action xem_nhanh btn-circle btn_view btn right-to quick-view">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                    <input class="hidden" type="hidden" name="variantId"
                                                           value="21562938"/>
                                                    <button class="button_action btn btn-cart btn btn-circle left-to"
                                                            title="Chọn sản phẩm" type="button"
                                                            onclick="window.location.href='/espresso-con-panna'">
                                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="infor">
                                        <h3 class="title"><a href="/espresso-con-panna" title="Espresso Con Panna">Espresso
                                            Con Panna</a></h3>
                                        <div class="box-price">
			                                <span class="special-price">
				                                <span class="price product-price">150.000₫</span>
			                                </span>

                                            <span class="product-item-price-sale old-price">&nbsp;&nbsp;
				                                    <span class="compare-price price product-price-old hidden-xs">165.000₫</span>
			                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item_product_main margin-bottom-30">


                                <div class="items">

                                    <div class="image">
                                        <a class="image_product" href="/strawberry-frappuccino" title="Strawberry Frappuccino">
                                            <img class="img-responsive" src="images/products/no-image.jpg" data-lazyload="images/products/try16-jpeg.jpg" alt="strawberry-frappuccino">
                                        </a>
                                        <div class="icon-action hidden-xs hidden-sm hidden-md">
                                            <form action="/cart/add" method="post" class="variants form-nut-grid"
                                                  data-id="product-actions-13049726" enctype="multipart/form-data">
                                                <div>
                                                    <a data-toggle="tooltip" title="Xem nhanh"
                                                       href="/strawberry-frappuccino"
                                                       data-handle="strawberry-frappuccino"
                                                       class="button_action xem_nhanh btn-circle btn_view btn right-to quick-view">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                    <input type="hidden" name="variantId" value="21562969"/>
                                                    <button class="button_action btn-buy btn-cart btn btn-circle left-to add_to_cart "
                                                            title="Thêm vào giỏ hàng">
                                                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="infor">
                                        <h3 class="title"><a href="/strawberry-frappuccino" title="Strawberry Frappuccino">Strawberry Frappuccino</a></h3>
                                        <div class="box-price">
			                                <span class="special-price">
				                                <span class="price product-price">150.000₫</span>
			                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>