<section class="awe-section-1" th:fragment="slider">
    <div class="rang_cua"></div>
    <div class="home-slider owl-carousel" data-play='true' data-loop='true' data-lg-items='1' data-md-items='1'
         data-sm-items='1' data-xs-items="1" data-margin='0' data-dot="false" data-nav="true">
        <div class="item">
            <a href="#" class="clearfix"><img style="width: 100%;" th:src="@{/assets/slider.jpg}" alt="alt"></a>
        </div>
        <div class="item">
            <a href="#" class="clearfix"><img th:src="@{/assets/slider_1.jpeg}"alt="alt"></a>
        </div>
    </div>
</section>