<head th:fragment="head">
  <meta charset="utf-8">
  <title>LiteShop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" media="all" href="https://cdn.shopify.com/s/assets/admin/style-5e6f586487d966f105dad186fc865d64d69571f1c45a36e2ce3909f854b34338.css"/>
  <link rel="stylesheet" media="all" href="https://cdn.shopify.com/s/assets/admin/style-e28490ef029d181987c22dc94f4dd7c0dde38e3ba33926d2132aac6d63a80c4c.css" crossorigin="anonymous" data-turbolinks-track="admin-style-css" integrity="sha256-4oSQ7wKdGBmHwi3JT03XwN3jjjujOSbSEyqsbWOoDEw=" />
  <link rel="stylesheet" media="print" href="https://cdn.shopify.com/s/assets/admin/print-035fecc9e3a44fea69c9a62339fd8d1d5070d82050252184758286242c37d3dd.css" crossorigin="anonymous" data-turbolinks-track="admin-print-css" integrity="sha256-A1/syeOkT+ppyaYjOf2NHVBw2CBQJSGEdYKGJCw3090=" />
</head>