<div class="other-products" th:fragment="products">
   <div class="wrapper" id="wrapper">
      <div id="body" class="clearfix" data-tg-refresh="body">
         <main class="has-bottom-messages" id="content" role="main">
            <div id="products-index" data-tg-refresh="products-index" class="page products-page has-contextual-help">
               <div class="ui-layout ui-layout--full-width">
                  <div class="ui-layout__sections">
                     <div class="ui-layout__section">
                        <div class="ui-layout__item">
                           <section class="ui-card">
                              <div class="has-bulk-actions">
                                 <div>
                                    <div class="next-card__section next-card__section--no-bottom-spacing">
                                       <div class="obj-filter hide-when-printing table-filter-container  show-saved-search-actions">
                                       </div>
                                    </div>
                                 </div>
                                 <div id="products-results" data-tg-refresh="products">
                                    <div class="ui-card__section">
                                       <div class="ui-type-container">
                                          <div class="table-wrapper">
                                             <table id="all-products" class="table-hover expanded">
                                                <thead>
                                                <tr>
                                                   <th class="image"></th>
                                                   <th class="title">
                                                      <span>Product</span>
                                                   </th>
                                                   <th class="right category">
                                                      <span>Category</span>
                                                   </th>
                                                   <th class="price">
                                                      <span>Price</span>
                                                   </th>
                                                   <th class="quantity">
                                                      <span>Quantity</span>
                                                   </th>
                                                </tr>
                                                </thead>
                                                <tbody data-context="bulkOperations">

                                                <tr th:each="product : ${products}">
                                                   <td>
                                                      <a class="aspect-ratio aspect-ratio--square aspect-ratio--square--50 aspect-ratio--interactive" th:href="@{/dashboard/products/{id}(id=${product.id})}">
                                                         <img th:title="${product.name}" class="aspect-ratio__content"
                                                              th:src="@{/images/products/{id}(id=${product.imageUrl})}"/>
                                                      </a>
                                                   </td>
                                                   <td class="name">
                                                      <div class="ui-stack ui-stack--wrap">
                                                         <div class="ui-stack-item">
                                                            <a th:href="@{/dashboard/products/{id}(id=${product.id})}"
                                                               data-nested-link-target="true" th:text="${product.name}">
                                                            </a>
                                                         </div>
                                                      </div>
                                                   </td>
                                                   <td class="category">
                                                      <div class="type--subdued inline-block tooltip tooltip-bottom tooltip-left-align"
                                                           th:text="${product.category.name}">
                                                      </div>
                                                   </td>
                                                   <td class="price">
                                                      <p th:text="${product.price}"></p>
                                                   </td>
                                                   <td class="quantity">
                                                      <p th:text="${product.quantity}"></p>
                                                   </td>
                                                </tr>

                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </main>
      </div>
   </div>
</div>