<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/head :: head"></head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <ul th:replace="admin/sidebar :: sidebar"></ul>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div th:if="${ product == null }">
            <nav th:replace="admin/toolbar :: toolbar"></nav>
            <nav th:replace="admin/product/createProduct :: createProduct"></nav>
        </div>
        <div th:if="${ product != null }">
            <nav th:replace="admin/toolbar :: toolbar"></nav>
            <nav th:if="${product != null}" th:replace="admin/product/editProduct :: editProduct"></nav>
        </div>
        <!-- End of Main Content -->
        <div th:replace="admin/footer :: footer"></div>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<div th:replace="admin/logoutModal :: logoutModal"></div>
<!-- Bootstrap core JavaScript-->

<link rel="stylesheet" th:href="@{/css/quill.css}">
<link rel="stylesheet" th:href="@{/css/quill.snow.css}">
<link rel="stylesheet" th:href="@{/css/quill.bubble.css}">
<script th:src="@{/js/bootstrap-quill.js}"></script>

<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/js/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/datatables-demo.js}"></script>

<script>
    var toolbarOptions = [
        [{
            'header': [1, 2, 3, 4, 5, 6, false]
        }],
        ['bold', 'italic', 'underline', 'strike'], // toggled buttons
        ['blockquote', 'code-block'],

        [{
            'header': 1
        }, {
            'header': 2
        }], // custom button values
        [{
            'list': 'ordered'
        }, {
            'list': 'bullet'
        }],
        [{
            'script': 'sub'
        }, {
            'script': 'super'
        }], // superscript/subscript
        [{
            'indent': '-1'
        }, {
            'indent': '+1'
        }], // outdent/indent
        [{
            'direction': 'rtl'
        }], // text direction

        [{
            'size': ['small', false, 'large', 'huge']
        }], // custom dropdown

        [{
            'color': []
        }, {
            'background': []
        }], // dropdown with defaults from theme
        [{
            'font': []
        }],
        [{
            'align': []
        }],
        ['link', 'image'],

        ['clean'] // remove formatting button
    ];

    var quillFull = new Quill('#document-full', {
        modules: {
            toolbar: toolbarOptions,
            autoformat: true
        },
        theme: 'snow',
        placeholder: "Write something..."
    });
</script>
<script>
    $("#btnSaveProduct").on( "click", function () {
        var data = {
            "id" : $("#id").val(),
            "name" : $("#name").val(),
            "slug": $("#slug").val(),
            "quantity": $("#quantity").val(),
            "price": $("#price").val(),
            "category": {"id" : $("#category option:selected").val()},
            "imageList" : $('#imageList').val(),
            "featureImage" : $('#featuredImage').val(),
            "description": $("#document-full").children().first().html()
        };
        // save product to database
        $.ajax({
            url: '/api/v1/product',
            dataType: 'json',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            success: function( data, textStatus, jQxhr ){
                var updateStatus = $("#updateStatus");
                updateStatus.empty()
                updateStatus.append("<span>Lưu thành công</span>")
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            }
        });
    })

    $(document).on("click", '.image-checkbox', function (e) {
        var hasChecked = $(this).hasClass('image-checkbox-checked');
        //reset all checkbox to non-checked
        $(".image-checkbox").each(function () {
            $(this).removeClass('image-checkbox-checked');
            $(this).find('input[type="checkbox"]').first().removeAttr("checked");
        });

        if (!hasChecked) {
            $(this).addClass('image-checkbox-checked');
            $(this).find('input[type="checkbox"]').first().attr("checked", "checked");
        }
        e.preventDefault();
    });

    $(document).on("click", '.image-checkbox-multi', function (e) {
        if ($(this).hasClass('image-checkbox-checked')) {
            $(this).removeClass('image-checkbox-checked');
            $(this).find('input[type="checkbox"]').first().removeAttr("checked");
        } else {
            $(this).addClass('image-checkbox-checked');
            $(this).find('input[type="checkbox"]').first().attr("checked", "checked");
        }
        e.preventDefault();
    });


    $('.btnSelectImage').on('click', function () {
        loadImageToModal('.modal-body', 'image-checkbox');
    });

    $('.btnSelectImageList').on('click', function () {
        loadImageToModal('.modal-body', 'image-checkbox-multi');
    });

    function loadImageToModal(modalBodyClass, imageCheckBoxClass) {
        $.ajax({
            url: '/api/v1/images?offset=0&limit=5',
            dataType: 'json',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',

            success: function (data, textStatus, jQxhr) {
                var modalBody = $(modalBodyClass);
                modalBody.empty();
                var row = $('<div class="row"></div>')
                var numRowElement = 0;
                $.each(data, function (index, imageUrl) {
                    $('<div class="col-md-1">' +
                        '<label class="' + imageCheckBoxClass + '">' +
                        '<img style="max-width: 100%;" src="' + imageUrl + '" />' +
                        '<input type="checkbox"/>' +
                        '</label>' +
                        '</div>'
                    ).appendTo(row);
                    numRowElement = numRowElement + 1;
                    if (numRowElement === 12) {
                        row.appendTo(modalBody);
                        row.empty();
                        numRowElement = 0;
                    }
                });
                if (numRowElement > 0) {
                    row.appendTo(modalBody);
                    row.empty();
                }
                $('#modalMedia').modal({show: true});
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    $('.btnSelectImageAccepted').on('click', function (e) {
        var imagesSelected = [];
        $('.image-checkbox-checked img').each(function (index, item) {
            var imgSelected = $(this).attr('src');
            imagesSelected.push(imgSelected)
        });
        $('#modalMedia').modal('hide');

        if($('.image-checkbox-multi').length === 0) {
            $('#featuredImage').val(imagesSelected.join('|'));
        } else {
            $('#imageList').val(imagesSelected.join('|'));
        }
        e.preventDefault();
    })
</script>
</body>
</html>
