<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/head :: head"></head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <ul th:replace="admin/sidebar :: sidebar"></ul>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div th:if="${ product == null }">
            <nav th:replace="admin/toolbar :: toolbar"></nav>
            <nav th:replace="admin/createProduct :: createProduct"></nav>
        </div>
        <div th:if="${ product != null }">
            <nav th:replace="admin/toolbar :: toolbar"></nav>
            <nav th:if="${product != null}" th:replace="admin/editProduct :: editProduct"></nav>
        </div>
        <!-- End of Main Content -->
        <div th:replace="admin/footer :: footer"></div>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<div th:replace="admin/logoutModal :: logoutModal"></div>
<!-- Bootstrap core JavaScript-->

<link rel="stylesheet" th:href="@{/css/quill.css}">
<link rel="stylesheet" th:href="@{/css/quill.snow.css}">
<link rel="stylesheet" th:href="@{/css/quill.bubble.css}">
<script th:src="@{/js/bootstrap-quill.js}"></script>

<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/js/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/datatables-demo.js}"></script>

<script>
    var toolbarOptions = [
        [{
            'header': [1, 2, 3, 4, 5, 6, false]
        }],
        ['bold', 'italic', 'underline', 'strike'], // toggled buttons
        ['blockquote', 'code-block'],

        [{
            'header': 1
        }, {
            'header': 2
        }], // custom button values
        [{
            'list': 'ordered'
        }, {
            'list': 'bullet'
        }],
        [{
            'script': 'sub'
        }, {
            'script': 'super'
        }], // superscript/subscript
        [{
            'indent': '-1'
        }, {
            'indent': '+1'
        }], // outdent/indent
        [{
            'direction': 'rtl'
        }], // text direction

        [{
            'size': ['small', false, 'large', 'huge']
        }], // custom dropdown

        [{
            'color': []
        }, {
            'background': []
        }], // dropdown with defaults from theme
        [{
            'font': []
        }],
        [{
            'align': []
        }],
        ['link', 'image'],

        ['clean'] // remove formatting button
    ];

    var quillFull = new Quill('#document-full', {
        modules: {
            toolbar: toolbarOptions,
            autoformat: true
        },
        theme: 'snow',
        placeholder: "Write something..."
    });
</script>
<script>
    $("#btnSaveProduct").on( "click", function () {
        var id = $("#id").val();
        var name = $("#name").val();
        var slug = $("#slug").val();
        var color = $("#color").val();
        var size = $("#size").val();
        var price = $("#price").val();
        var quantity = $("#quantity").val();
        var createdDate = $("#createDate").val();
        var category = $("#category option:selected").val();
        var description = $("#document-full").children().first().html();
        var data = {"id" : id, "name" : name, "slug": slug, "color" :color, "size" : size, "price": price,
            "quantity" : quantity, "createdDate" : createdDate, "category": {"id" : category}, "description": description};
        // save product to database
        $.ajax({
            url: '/api/v1/product',
            dataType: 'json',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            success: function( data, textStatus, jQxhr ){
                var updateStatus = $("#updateStatus");
                updateStatus.empty()
                updateStatus.append("<span>Lưu thành công</span>")
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            }
        });
    })
</script>
</body>
</html>
