<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
   <head lang="en" th:replace="fragments/head :: head"></head>
   <body>
      <!--header, navigation bar and banner -->
      <header lang="en" th:replace="fragments/header :: header"></header>
      <header lang="en" th:replace="fragments/menubar :: menubar"></header>
      <banner lang="en" th:replace="fragments/banner :: banner"></banner>
      <!--end header, navigation bar and banner -->

      <!-- content-section-starts-here -->
      <div class="container">
         <div class="main-content">
            <div class="online-strip">
               <div class="col-md-4 follow-us">
                  <h3>follow us : <a class="twitter" href="#"></a><a class="facebook" href="#"></a></h3>
               </div>
               <div class="col-md-4 shipping-grid">
                  <div class="shipping">
                     <img src="images/shipping.png" alt="" />
                  </div>
                  <div class="shipping-text">
                     <h3>Free Shipping</h3>
                     <p>on orders over $ 199</p>
                  </div>
                  <div class="clearfix"></div>
               </div>
               <div class="col-md-4 online-order">
                  <p>Order online</p>
                  <h3>Tel:999 4567 8902</h3>
               </div>
               <div class="clearfix"></div>
            </div>
            <div lang="en" th:replace="fragments/lastproduct :: lastproduct"></div>
         </div>
      </div>

      <!-- feature product -->
      <div lang="en" th:replace="fragments/featureproduct :: featureproduct"></div>

      <div lang="en" th:replace="fragments/newsletter :: newsletter"></div>
      <footer lang="en" th:replace="fragments/footer :: footer"></footer>
   </body>
</html>