<div th:fragment="orderList" class="container-fluid">
    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Họ tên</th>
                        <th>Ngày tạo</th>
                        <th>Trạng thái</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.id}"></td>
                        <td>
                            <a th:href="@{ '/admin/order/' +  ${order.id}}" th:text="${order.customer.name}"></a>
                        </td>
                        <td th:text="${order.createdDate}"></td>
                        <td th:text="${order.status}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
